/*#region ----------------- BreadCrumb */
.breadcrumb {
  .breadcrumb-item + .breadcrumb-item::before {
    float: right;
    padding-right: 0;
    padding-left: 8px;
  }
  .breadcrumb-item + .breadcrumb-item {
    padding-right: 8px;
    padding-left: 0;
  }
}
/*#endregion -------------- BreadCrumb */
