/*#region ----------------- Cards */
.card-property {
  padding: 0 6px 15px 6px;
  .card-inner {
    overflow: hidden;
    position: relative;
    background-color: $background;
    border: 1px solid $borderColor;
    border-radius: 12px;
    padding: 15px;
    user-select: none;
    transition: all 0.3s ease-in-out;
  }
  .icon {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 40px;
    height: 40px;
    @include displayFlex(flex, center, center);
    font-size: 40px;
    color: rgba($color: $textSilver, $alpha: 0.4);
    transition: all 0.3s ease-in-out;
  }
  .info {
    text-align: center;
    h5 {
      font-size: 14px;
      margin-bottom: 10px;
      color: $textGrey;
    }
    h6 {
      font-size: 16px;
      margin-bottom: 0;
      color: $textDark;
    }
  }
  &:hover {
    .card-inner {
      background-color: white;
    }
    .icon {
      color: rgba($color: $secondary, $alpha: 0.3);
    }
    .info {
      h6 {
        color: $secondary;
      }
    }
  }
}

.card-comment {
  .card-inner {
    background-color: white;
    border-radius: 0 20px 20px 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      width: 48px;
      height: 33px;
      background-image: url(../images/dots-top-left.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0.2;
    }
  }
  .thumb {
    padding: 20px 0 6px 0;
    width: 110px;
    margin: 0 auto;
    position: relative;
    .img-inner {
      width: 110px;
      height: 110px;
      margin: 0 auto;
      &::before {
        content: "";
        position: absolute;
        right: 50%;
        top: 0;
        transform: translateX(50%);
        width: calc(100% + 12px);
        height: 100%;
        border: 2px solid $borderColor;
        border-top: 0;
        border-radius: 0 0 90px 90px;
        transition: all 0.3s ease-in-out;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  .info {
    text-align: center;
    padding: 10px 20px 20px 20px;
    h4 {
      font-size: 13px;
      margin-bottom: 15px;
      color: $textDark;
      @include textTruncate(1);
    }
    .btn-secondary {
      padding: 0.4rem 0.8rem;
      font-size: 14px;
      background-color: rgba($color: $secondary, $alpha: 0.1);
      color: $secondary;
      .fi {
        line-height: 0;
        font-size: 16px;
        margin-left: 10px;
      }
      &:hover {
        background-color: $primary;
        color: $secondary;
      }
    }
  }
  &:hover {
    .thumb {
      .img-inner {
        &::before {
          border-color: $primary;
        }
      }
    }
  }
}

.card-status {
  padding: 8px;
  transition: all 0.3s ease-in-out;
  .card-inner {
    padding: 30px 20px;
    border-radius: 0 20px 20px 20px;
    background-color: white;
    position: relative;
    transition: all 0.3s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      left: 8px;
      top: 8px;
      width: 20px;
      height: 20px;
      background-color: $textGrey;
      border-radius: 0 0 50px 0;
    }
  }
  .icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    @include displayFlex(flex, center, center);
    font-size: 30px;
    color: $borderColor;
  }
  .info {
    position: relative;
    z-index: 10;
    text-align: center;
    h2 {
      color: $textDark;
      margin-bottom: 0;
    }
    h4 {
      font-size: 14px;
      margin-bottom: 0;
      color: $textDark;
    }
  }
  &:hover {
    transform: translateY(-5px);
    .card-inner {
      box-shadow: $boxshadow;
    }
  }
  &.color-1 {
    .card-inner {
      &::before {
        background-color: $accent;
      }
    }
    .info {
      h2 {
        color: $accent;
      }
    }
  }
  &.color-2 {
    .card-inner {
      &::before {
        background-color: $textSilver;
      }
    }
    .info {
      h2 {
        color: $textSilver;
      }
    }
  }
  &.color-3 {
    .card-inner {
      &::before {
        background-color: $primary;
      }
    }
    .info {
      h2 {
        color: $primary;
      }
    }
  }
  &.color-4 {
    .card-inner {
      &::before {
        background-color: $secondary;
      }
    }
    .info {
      h2 {
        color: $secondary;
      }
    }
  }
}

.card-education {
  .card-inner {
    display: block;
  }
  .thumb {
    @include imgContainer(320px, 20px);
    img {
      transition: all 0.4s ease-in-out;
    }
  }
  .text-content {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70%;
    @include displayFlex(flex, center, flex-end);
    flex-direction: column;
    padding-bottom: 20px;
    background: linear-gradient(
      180deg,
      rgba(35, 55, 158, 0) 40%,
      rgba(35, 55, 158, 0.6),
      rgba(35, 55, 158, 1)
    );
    transition: all 0.4s ease-in-out;
    h3 {
      font-size: 16px;
      font-weight: 800;
      color: white;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      color: rgba($color: white, $alpha: 0.8);
      font-size: 14px;
      margin-bottom: 0;
      .fi {
        font-size: 16px;
        position: relative;
        top: 5px;
      }
    }
  }
  &:hover {
    .thumb {
      img {
        transform: scale(1.08);
      }
    }
    .text-content {
      height: 100%;
    }
  }
}

.card-course {
  .card-inner {
    background-color: white;
    box-shadow: $boxshadow;
    border-radius: 0 18px 18px 18px;
    padding: 15px;
    display: block;
    position: relative;
  }
  .thumb {
    img {
      width: 100%;
      border-radius: 0 15px 15px 15px;
    }
  }
  .info {
    margin-top: 15px;
    h3 {
      font-size: 15px;
      color: $textDark;
      @include textTruncate(1);
    }
    p {
      @include textTruncate(2);
      font-size: 13px;
      line-height: 20px;
      min-height: 40px;
      color: $textGrey;
    }
  }
  .btn-payment {
    text-align: left;
    .btn-primary {
      padding: 0.5rem 1rem;
      font-size: 14px;
      background-color: $secondary;
      border-radius: 60px;
      min-width: unset;
    }
  }
  .course-status {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: rgba($color: white, $alpha: 0.2);
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border-radius: 0 10px 10px 10px;
  }
  &:hover {
    .card-inner {
      background-color: $secondary;
    }
    .info {
      h3 {
        color: white;
      }
      p {
        color: rgba($color: white, $alpha: 0.8);
      }
    }
    .btn-payment {
      .btn-primary {
        background-color: $primary;
        color: white;
      }
    }
  }
}

.card-method {
  margin-bottom: 20px;
  .card-inner {
    background-color: white;
    box-shadow: $boxshadow;
    border-radius: 50px;
    padding: 30px;
  }
  .thumb {
    width: 90px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .info {
    margin-top: 1.2rem;
    h5 {
      font-size: 16px;
      text-align: center;
      margin-bottom: 0;
      color: $textDark;
    }
  }
}

.card-ostad-comment {
  padding: 30px;
  .card-inner {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    position: relative;
    box-shadow: $boxshadow;
  }
  .c-header {
    display: grid;
    grid-template-columns: 90px auto;
    align-items: center;
  }
  .thumb {
    width: 80px;
    height: 80px;
    overflow: hidden;
    padding: 5px;
    box-shadow: $boxshadow;
    border-radius: 50%;
    position: relative;
    top: -30px;
    right: -30px;
    transform: scale(1.5);
    background-color: white;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .info {
    h4 {
      font-size: 18px;
      font-weight: 800;
      color: $secondary;
      margin-bottom: 6px;
    }
    h5 {
      font-size: 16px;
      font-weight: 600;
      color: $primary;
      margin-bottom: 0;
    }
  }
  .desc {
    margin-top: 15px;
    p {
      text-align: justify;
      color: $textGrey;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1400px) {
  .card-education {
    .thumb {
      height: 290px;
    }
  }
}
@media (max-width: 1199px) {
  .card-property {
    .info {
      h5 {
        font-size: 13px;
      }
      h6 {
        font-size: 14px;
      }
    }
  }
  .card-ostad-comment {
    .card-inner {
      padding: 20px;
    }
    .c-header {
      grid-template-columns: 75px auto;
    }
    .thumb {
      width: 70px;
      height: 70px;
    }
    .info {
      h4 {
        font-size: 16px;
      }
      h5 {
        font-size: 14px;
      }
    }
    .desc {
      margin-top: 5px;
      p {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 992px) {
  .card-method {
    .card-inner {
      padding: 20px;
      border-radius: 40px;
    }
    .thumb {
      width: 70px;
    }
    .info {
      h5 {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 768px) {
  .card-property {
    .card-inner {
      padding: 10px;
    }
    .icon {
      width: 35px;
      height: 35px;
      font-size: 30px;
    }
    .info {
      h5 {
        font-size: 12px;
      }
      h6 {
        font-size: 13px;
      }
    }
  }
  .card-status {
    .icon {
      width: 35px;
      height: 35px;
      font-size: 26px;
    }
    .info {
      h2 {
        font-size: 1.7rem;
      }
      h4 {
        font-size: 13px;
      }
    }
  }
  .card-course {
    .card-inner {
      padding: 10px;
    }
    .info {
      h3 {
        font-size: 13px;
      }
      p {
        font-size: 12px;
        line-height: 18px;
        min-height: 36px;
      }
    }
    .btn-payment {
      .btn-primary {
        font-size: 12px;
      }
    }
  }
  .card-method {
    .card-inner {
      padding: 15px;
      border-radius: 30px;
    }
    .thumb {
      width: 60px;
    }
  }
  .card-ostad-comment {
    .card-inner {
      padding: 15px;
    }
    .c-header {
      grid-template-columns: 65px auto;
    }
    .thumb {
      width: 60px;
      height: 60px;
      padding: 2px;
    }
    .info {
      h4 {
        font-size: 14px;
      }
      h5 {
        font-size: 13px;
      }
    }
    .desc {
      p {
        font-size: 13px;
      }
    }
  }
}
@media (max-width: 575px) {
  .card-property {
    padding: 0 3px 6px 3px;
    .card-inner {
      padding: 10px;
    }
    .icon {
      width: 30px;
      height: 30px;
      font-size: 24px;
    }
    .info {
      h5 {
        font-size: 11px;
      }
      h6 {
        font-size: 12px;
      }
    }
  }
  .card-status {
    .card-inner {
      padding: 20px 15px;
      &::before {
        width: 16px;
        height: 16px;
      }
    }
    .icon {
      width: 30px;
      height: 30px;
      font-size: 22px;
    }
    .info {
      h2 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 12px;
      }
    }
  }
  .card-education {
    .thumb {
      height: 320px;
    }
  }
}
/*#endregion -------------- Cards */
