/*#region ----------------- Direction LTR */
body.en {
  direction: ltr;
  text-align: left;
  font-family: "Noto Sans", sans-serif !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  textarea,
  strong,
  span,
  p {
    font-family: "Noto Sans", sans-serif !important;
  }

  .myNavbar {
    .links {
      margin-right: 0;
      margin-left: 20px;
      .link-list .item .sub-list {
        right: unset;
        left: 0;
      }
    }
    .user-login {
      .sign .btn-primary {
        span {
          &:first-child {
            border-radius: 10px 0 0 10px;
          }
          &:last-child {
            border-radius: 0 10px 10px 0;
          }
        }
      }
      .login {
        .user-menu {
          left: unset;
          right: 0;
          text-align: left;
          li a .fi {
            margin-left: 0;
            margin-right: 12px;
          }
        }
      }
    }
  }
  #desktop-search-content {
    margin: 0 15px 0 0;
    .search-inputgroup {
      .input {
        padding: 3px 85px 3px 15px;
      }
      .btn-search-close {
        left: unset;
        right: 48px;
      }
      .btn-search-sumbit {
        left: unset;
        right: 5px;
      }
    }
    .btn-show-search {
      padding: 10px;
    }
  }
  #sidebar-menu {
    right: unset;
    left: -300px;
    &.active {
      right: unset;
      left: 0;
    }
    .category-list .item a {
      &:hover {
        padding-right: unset;
        padding-left: 30px;
      }
    }
    .collapse-item {
      .btn {
        text-align: left;
        padding: 12px 40px 12px 20px;
        .icon {
          left: unset;
          right: 10px;
        }
      }
      .card {
        // padding: 15px;
        ul li {
          .desc {
            margin: 0 0 0 10px;
          }
          .fi {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .course-details-hero {
    &::after {
      left: unset;
      right: 0;
      transform: scaleX(-1);
    }
    .section-inner {
      padding: 80px 240px 80px 0;
    }
    .data {
      padding-left: 20px;
      padding-right: 0;
      .course-name {
        padding: 0 0 0 20px;
        &::before {
          right: unset;
          left: 0;
        }
      }
      .property {
        padding: 0 0 0 50px;
        &::before {
          right: unset;
          left: 0;
          transform: scaleX(-1);
        }
      }
      .btns-group {
        padding: 0 0 0 60px;
      }
    }
  }
  .card-property .icon {
    right: unset;
    left: -5px;
  }
  .page-title.text-right {
    text-align: left;
  }
  .about-course-section::before {
    right: unset;
    left: 0;
    transform: scaleX(-1);
  }
  .course-topics-section {
    .section-inner {
      border-radius: 30px 0 30px 30px;
      &::before {
        left: unset;
        right: 0;
        transform: scaleX(-1);
      }
    }
  }
  .card-comment .info .btn-secondary .fi {
    margin: 0 10px 0 0;
  }
  .course-status-section {
    .image-content .img-inner {
      &::before {
        right: unset;
        left: 20px;
      }
      &::after {
        left: unset;
        right: -70px;
      }
    }
  }
  .suitable-section {
    .text-content {
      padding: 0 0 0 20px;
    }
    .image-content .img-inner {
      &::before {
        right: unset;
        left: 20px;
      }
      &::after {
        right: unset;
        left: -60px;
        transform: scaleX(-1);
      }
    }
    .item-row {
      &::before {
        right: unset;
        left: -40px;
        transform: scaleX(-1);
      }
    }
  }
  .contact-section .call-content {
    padding: 0 30px 0 0;
  }
  .page-title {
    .icon {
      margin: 0 10px 0 0;
    }
  }
  .area-hero-index {
    .image-content .img-inner {
      transform: scaleX(-1);
    }
    .text-content {
      p {
        margin-left: unset;
        margin-right: auto;
      }
      .btns-group {
        .btn {
          margin: 5px 10px 5px 0;
        }
      }
    }
    .circle-image-rotate {
      left: unset;
      right: -200px;
    }
  }
  .card-coach-property {
    .info {
      padding: 0 0 0 10px;
    }
  }
  .profession-section .list li {
    padding-left: 0;
    padding-right: 20px;
    &::before {
      right: unset;
      left: 7px;
    }
  }
  .educational-suggestions-section {
    .grid-title h2 {
      right: unset;
      left: 30px;
      text-transform: capitalize;
    }
    .grid-slide {
      border-radius: 35px 0 35px 35px;
    }
  }
  .swiper-educational {
    .swiper-button-next {
      left: unset;
      right: -15px;
    }
    .swiper-button-prev {
      left: -15px;
      right: unset;
    }
  }
  .swiper-courses {
    .swiper-button-next {
      left: unset;
      right: -15px;
    }
    .swiper-button-prev {
      left: -15px;
      right: unset;
    }
  }
  .card-ostad-comment {
    .thumb {
      right: unset;
      left: -30px;
    }
  }
  .blogs-grid-section {
    .grid-news-preview {
      padding: 0 30px 0 0;
    }
  }
  .card-blog-row-small {
    .info {
      padding: 0 0 0 10px;
    }
    .icon {
      margin: 0 0 0 auto;
    }
  }
  .card-event {
    .info {
      h3 .fi {
        top: 3px;
        margin: 0 5px 0 0;
      }
      .date .fi {
        margin: 0 6px 0 0;
      }
    }
  }
  .footer {
    &::after {
      right: unset;
      left: 0;
    }
    .desc {
      padding-left: 0;
      padding-right: 40px;
    }
    .certificate ul li {
      margin: 5px 10px 5px 0;
    }
  }
}

@media (max-width: 1400px) {
  body.en {
    .comments-section {
      &::after {
        bottom: 180px;
      }
    }
  }
}
@media (max-width: 1199px) {
  body.en {
    .suitable-section {
      .image-content .img-inner {
        &::after {
          left: -50px;
        }
        &::before {
        }
      }
    }
  }
}
@media (max-width: 992px) {
  body.en {
    .course-details-hero {
      .section-inner {
        padding-top: 70px;
        padding-right: 0;
      }
    }
    .suitable-section {
      .item-row {
        &::before {
          left: -30px;
        }
      }
    }
    .contact-section .call-content {
      padding: 0 0 20px 0;
    }
    .area-hero-index {
      .image-content {
        &::before {
          right: unset;
          left: 0;
          border-radius: 20px 0 0 0;
        }
        &::after {
          right: unset;
          left: 130px;
        }
        .img-inner {
          margin: 0 auto 0 20px;
        }
      }
    }
    .blogs-grid-section {
      .grid-news-preview {
        padding-right: 0;
      }
    }
  }
}
@media (max-width: 768px) {
  body.en {
    .course-details-hero {
      .data {
        padding: 20px 0 0 0;
        .property {
          padding-left: 0;
          margin: 25px 0 10px 0;
          padding-top: 50px;
          &::before {
            left: 40%;
            transform: translateX(-50%) scaleX(-1);
            width: 30px;
            height: 47px;
          }
        }
        .btns-group {
          padding: 0;
        }
      }
    }
    .course-status-section {
      .image-content .img-inner {
        &::before {
          right: unset;
          left: 15px;
          top: 15px;
        }
        &::after {
          left: unset;
          right: -50px;
          bottom: -40px;
        }
      }
    }
    .suitable-section {
      .image-content .img-inner {
        &::after {
          left: -40px;
        }
        &::before {
          left: 15px;
          top: 15px;
        }
      }
    }
    .footer {
      &::after {
        right: 0;
        left: unset;
        top: 40px;
        background-position: left center;
      }
    }
  }
}

@media (max-width: 575px) {
  body.en {
    .course-details-hero {
      .data {
        .property {
          &::before {
            width: 25px;
            height: 39px;
            top: 0;
          }
        }
      }
    }
    .suitable-section {
      .item-row {
        &::before {
          left: -22px;
          bottom: -32px;
        }
      }
    }
    .swiper-educational {
      .swiper-button-next {
        right: 0;
      }
      .swiper-button-prev {
        left: 0;
      }
    }
    .swiper-courses {
      .swiper-button-next {
        right: 0;
      }
      .swiper-button-prev {
        left: 0;
      }
    }
  }
}
@media (max-width: 400px) {
  body.en {
    #sidebar-menu {
      right: unset;
      left: -400px;
    }
  }
}
/*#endregion -------------- Direction LTR */
