/*#region ----------------- Modal */
.modal-title {
  .fi {
    margin-left: 10px;
    position: relative;
    top: 3px;
    color: $textSilver;
  }
}
.modal-header {
  .btn-close {
    margin-left: 0;
    margin-right: auto;
  }
}
/*#endregion -------------- Modal */
