/*#region ----------------- Property */
.property-section {
  background-color: white;
  padding-bottom: 50px;
  position: relative;
  z-index: 200;
  .grid-layout {
    @include displayFlex(flex, center, center);
    flex-wrap: wrap;
    position: relative;
    top: -50px;
    background-color: white;
    box-shadow: $boxshadow;
    border-radius: 25px 0 25px 25px;
    width: 950px;
    margin: 0 auto;
    padding: 10px 0;
  }
  .card-coach-property {
    flex: 0 0 33.33%;
    width: 33.33%;
    &:last-child {
      border-left: none;
    }
  }
}

.card-coach-property {
  border-left: 1px solid $borderColor;
  padding: 10px 30px;
  .card-inner {
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
  }
  .thumb {
    img {
      width: 100%;
    }
  }
  .info {
    padding-right: 10px;
    h3 {
      font-size: 14px;
      font-weight: 600;
      color: $textDark;
      margin-bottom: 5px;
    }
    p {
      font-size: 12px;
      font-weight: 400;
      color: $textGrey;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 992px) {
  .property-section {
    padding-bottom: 40px;
    .grid-layout {
      width: 100%;
    }
  }
  .card-coach-property {
    padding: 10px;
    .card-inner {
      grid-template-columns: 60px auto;
    }
    .info {
      h3 {
        font-size: 13px;
      }
      p {
        font-size: 11px;
      }
    }
  }
}
@media (max-width: 768px) {
  .property-section {
    padding-bottom: 30px;
    .card-coach-property {
      flex: 0 0 50%;
      width: 50%;
      border-bottom: 1px solid $borderColor;
      &:last-child {
        border-bottom: none;
      }
      &:nth-child(2) {
        border-left: none;
      }
    }
  }
}
@media (max-width: 575px) {
  .property-section {
    .card-coach-property {
      flex: 1 0 100%;
      width: 100%;
      border: none;
    }
  }
  .card-coach-property {
    .card-inner {
      grid-template-columns: 50px auto;
    }
    .info {
      h3 {
        font-size: 12px;
        margin-bottom: 0;
      }
      p {
        font-size: 10px;
      }
    }
  }
}

/*#endregion -------------- Property */
