$primary: #ffb200;
$secondary: #23379e;
$accent: #e03a49;

$textDark: #221e22;
$textGrey: #636063;
$textSilver: #979797;

$success: #00bd79;
$error: #ff3333;
$info: #009cf2;
$warning: #ffe16a;
$disabled: #d8d8d8;
$dis_button: #879ac1;

$borderColor: #e2e2e2;

$background: #f1f3f4;

$bodyFont: IRANYEKAN;
$iconFontRegular: uicons-regular-rounded;
$iconFontSolid: uicons-solid-rounded;

$boxshadow: 0px 5px 20px rgba(34, 30, 34, 0.1);
